.header {
  background-image: linear-gradient(#bf281b, #b27a25);
  border-bottom: 1px solid black;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 7px;
  position: fixed;
  top: 0;
  width: 100%;
}

.searchButton {
  background-color: transparent;
  border: none;
}

.profileIcon {
  width: 35px;
}

.searchBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.searchBar button {
  border-radius: 5px;
  font-weight: 600;
  margin-left: 16px;
  margin-top: 10px;
  padding: 5px;
  width: 90%;
}

.inputText {
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 16px;
  margin-top: 10px;
  padding: 5px;
  width: 90%;
}

.inputRadio {
  margin-left: 25px;
  margin-top: 10px;
}
