@media only screen and ( max-width : 360px ) and ( max-height : 640px ) {

  .buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    padding: 10px 0;
  }

  .buttons button {

    /* background-color: #4c80598f; */
    border: 1px solid #134d22;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    width: 31%;
  }

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .card h3 {
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }

  .card img {
    align-self: center;
    border-radius: 15px;
    width: 100%;
  }

  .link {
    color: black;
    font-family: Verdana , Geneva , Tahoma , sans-serif;
    font-weight: 700;
    text-decoration: none;
    width: 50%;
  }

  .cardSection {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding-top: 5px;
  }
}
