.profileContent {
  display: flex;
  flex-direction: column;
  margin: 80px 20px;
  text-align: center;
}

.profileContent button {
  background-color: #4c80598f;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 25px;
  padding: 8px;
}

.profileContent span {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0;
}
